*{
    padding: 0;
    margin: 0;
}
header{
    background-color: gray;
    height: 60px;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 8px rgba(70, 66, 66, 0.3); 
    z-index: 999;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: end;
    margin-left: 20px;
}
li{
    margin: 5px;
    padding: 5px;
    margin-right: 20px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.9s;
    font-size: 20px;
    color: white;
}
@media screen and (max-width:768px) {
    li{
        display: none;
    }
}
li:hover{
    color: orangered;
}
nav{
    margin-right: 100px;
}
#img1{
    cursor: pointer;
    font-size: 25px;
    z-index: -1;
}
@media screen and (min-width:769px) {
    #img1{
        display: none;
    }
}
.food-name{
    width: 100%;
    height: 100px;
    padding-top: 80px;
}
.food-name select{
    width:250px;
    height: 50px;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 10px;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border:2px solid gray;
}
.food-name select option{
    font-size: 20px;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border:2px solid grey
}
.food-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}
.div1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.foods{
    border: 2px solid grey;
    width:200px;
    height: 315px;
    margin: 5px;
    text-align: center;
}
.food-item .div1 img{
    width: 94%;
    margin: 8px;
    height: 200px;
}
.food-item .div1 h3{
    margin-left: 10px;
    font-size: 25px;
    text-align: left;
}
#para1{
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15px;
    text-align: left;
}
.star{
    display: flex;
}
#para2{
    margin-left: 10px;
    background-color: rgb(227, 152, 31);
    width: 50px;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
}
.order-food{
    display: flex;
    height: 500px;
    width: 100%;
    margin-top: 50px;
    background-color: rgb(222, 218, 216, 1);
}
#Delivery-img{
    width: 400px;
    height: 300px;
    margin-top: 50px;
    margin-left: 80px;
}
#h1{
    text-align: left;
    width: 100%;
    margin-top: 10px;
    margin-left: 150px;
    font-size: 40px;
}
#para3{
    text-align: left;
    width: 100%;
    margin-left: 150px;
    margin-top: 5px;
    font-size: 25px;
    color: grey;
}
#delivery-icon{
    width: 60px;
    height: 60px;
    margin-left: 0px;
    margin-top: 0px;
}
#h2{
    margin-left: 0px;
    font-size: 20px;
    margin-top: 5px;
}
#para4{
    margin-left: 0px;
    font-size: 15px;
    margin-top: 5px;
}
.fast-delivery{
    margin-left: 150px;
    margin-top: 10px;
    width: 200px;
    cursor: pointer;
    padding: 10px;
}
.fast-delivery:hover{
    background-color: white;
    width: 200px;
    border-radius: 10px;
}